  <div class="items-sell-main">
    <h2 class="items-sell-title">お薬の情報を入力</h2>
    <%= form_with model: @medication, url: patient_medications_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# お薬画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        お薬画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, name: 'image' %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        お薬名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :medication_name, class:"items-text", id:"item-name", placeholder: "お薬名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          お薬の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"お薬の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">１回の用量</div>
      <div class="form">
        <div class="weight-bold-text">
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :dosage, class:"items-text", id:"item-info", placeholder:"１回の用量（必須 1,00文字まで）" ,rows:"7" ,maxlength:"1000" %>
        <div class="weight-bold-text">
          副作用の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :side_effect, class:"items-text", id:"item-info", placeholder:"副作用の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', patient_medications_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>