 <div class="items-sell-main">
  <h2 class="items-sell-title">お薬の情報</h2>
  
  <%# お薬画像 %>
  <div class="img-upload">
    <div class="weight-bold-text">
      お薬画像
    <%# </div>
      <%= @medication.image %> %>
    </div>
  </div>
  <%# /商品画像 %>
  <%# 商品名と商品説明 %>
  <div class="new-items">
    <div class="weight-bold-text">
      お薬名
    </div>
    <%= @medication.medication_name %>
    <div class="items-explain">
      <div class="weight-bold-text">
        お薬の説明
      </div>
      <%= @medication.description %>
    </div>
  </div>
  <%# /商品名と商品説明 %>

  <%# 商品の詳細 %>
  <div class="items-detail">
    <div class="weight-bold-text">１回の用量</div>
    <div class="form">
      <div class="weight-bold-text">
      </div>
      <%= @medication.description %>
      <div class="weight-bold-text">
        副作用の説明
      </div>
      <%= @medication.side_effect %>
    </div>
  </div>
</div>