<%= render "shared/header" %>

<h1>ようこそ、<%= current_user.nickname %>さん</h1>

<%= link_to '新規患者登録',  new_patient_path, class: "user-nickname" %>
<% @patients.each do |patient| %>
  <div class="patient">
    <%= link_to patient.patient_name, patient_path(patient.id), class: "user-nickname"%>
  </div>
<% end %>

<nav class="menu">
  <ul>
    <li><a href="<%= patients_path %>">患者管理</a></li>
    <%# <li><a href="<%= medications_path %>">薬剤管理</a></li> %>
    <%# <li><a href="<%= prescriptions_path %>">処方管理</a></li> %>
    <%# <li><a href="<%= appointments_path %>">診察予約</a></li> %>
    <%# <li><a href="<%= refill_requests_path %>">リフィルリクエスト</a></li> %>
  </ul>
</nav>

<%= render "shared/footer" %>