
<div class='deshboard'>
  <%# メイン画像広告 %>
  <div class='title-contents'>
    <div calss='title-img'>
      <%= image_tag "origin_image.jpg", class:"title-img" %>
    </div>
    <div class='title-add'>
      <h2 class='service-title'>
        お薬管理をデジタルで
      </h2>
      <p class='service-explain'>
        Medicine Noteはだれでもかんたんにお薬を管理できる
      </p>
      <p class='service-explain'>
        お薬手帳アプリです
      </p>
      <div class='store-btn'>
        <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
        <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
      </div>
    </div>
  </div>

  <%# メリット %>
  <div class='select-merit-contents'>
    <h2 class='title'>
      Medicine Note を利用する3つのメリット
    </h2>
    <ul class='merit-lists'>
      <li class='list'>
        <%= image_tag "medicine-app_hand.png", class:"list-pict" %>
        <%# <span class='merit-list-number'>1</span> %>
        <h3 class='merit-list-text'>
          1. 管理が簡単
        </h3>
        <p class='merit-list-description'>
          その日の処方役や診察予定を一覧で確認できます
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kazokudekyouyu.jpg", class:"list-pict" %>
        <%# <span class='merit-list-number'>2</span> %>
        <h3 class='merit-list-text'>
          2. 家族で共有
          
        </h3>
        <p class='merit-list-description'>
          家族メンバーを登録すると情報を共有できます
        </p>
      </li>
      <li class='list'>
        <%= image_tag "sinsatuyoyaku1.jpg", class:"list-pict" %> 
        <%# <span class='merit-list-number'>3</span> %>
        <h3 class='merit-list-text'>
          3. 診察予約ができる
        </h3>
        <p class='merit-list-description'>
          かかりつけ医の登録や近くの病院を探すことができます
        </p>
      </li>
    </ul>
  </div>

  
      <%# 広告部分 %>
  <div class='ad-footer-contents'>
    <p class='ad-footer-explain'>
      だれでもかんたん、お薬手帳アプリ
    </p>
    <h2 class='ad-footer-title'>
      今すぐ無料ダウンロード！
    </h2>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>

</div>
